@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&display=swap');

* {
    margin: 0;
    font-family: Poppins;
}

.header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 6px;
    position: sticky;
    z-index: 1;
}

.header-container {
    height: 10rem;
    width: 80%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    height: 50%;
}

.header-right {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-right: -5rem;
}

.header-right > a {
    text-decoration: none;
    color: black;
}

.header-logo {
    height: 100%;
}

.button,
.services-button {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.services-button {
    position: relative;
}

.services-button>img {
    width: 1rem;
    margin-left: .5rem;
}

.button:hover {
    color: red;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* .hero-img {
    position: relative;
    width: 100%;
    background-image: url(./images/image2.jpg);
    height: 35rem;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.hero-text {
    text-align: center;
    font-size: 3rem;
    color: black;
    font-family: Manrope;
    font-weight: 400;
    margin-top: 5rem;
}

.body {
    max-width: 1400px;
    margin: auto;
    position: relative;
}

.body-content {
    max-width: 1200px;
    margin: auto;
}

.body-header {
    text-align: center;
    font-family: Manrope;
    font-weight: 400;
    font-size: 2rem;
    width: 80%;
    margin: auto;
}

.body-image {
    margin-top: 5rem;
    background: url(./images/image3.jpg);
    height: 30rem;
    background-size: cover;
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.body-overlaytext {
    line-height: 1.2;
    margin-left: -3rem;
    font-size: 3rem;
    color: red;
    font-style: italic;
    font-family: Seaweed Script;
}

.email-title {
    font-weight: 400;
    margin: auto;
    width: 85%;
    margin-bottom: 5rem;
    font-family: Manrope;
    font-weight: 400;
}

.required {
    color: red;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #0ca7e4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
}

input[type=submit]:hover {
    background-color: #2e7794;
}

.email-container {
    border-radius: 5px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    padding-top: 3rem;
}

.email-form {
    margin: auto;
    width: 80%;
}

.name {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.name-box {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#fname,
#lname {
    width: 100%;
}

.menu {
    display: none;
    background: white;
    position: absolute;
    top: 80%;
    right: 0;
    width: max-content;
    margin-top: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-top: 3px solid red;
    text-align: end;
    border-radius: 0 0 10px 10px;
    padding: .5rem 0;
}

.on {
    display: block !important;
}

li {
    list-style: none;
    padding: .5rem 1.5rem;
    max-width: 14rem;
}

li>a {
    text-decoration: none;
    color: black;
}

li:hover {
    background: #f5f5f5;
}

ul {
    padding: 0;
}

form {
    width: 80%;
    margin: auto;
}

.page-title {
    margin-top: 5rem;
}

.page-title__text {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}

li:hover {
    background-color: transparent;
}

.table {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    border-radius: 15px;
    border: 1px solid red;
    padding: 2rem;
}

.table-header {
    margin-top: 3rem;
    text-align: center;
}

.table__header {
    font-size: 1.5rem;
    color: red;
    font-weight: 500;
    margin-bottom: 1rem;
}

.table-left__container,
.table-right__container {
    font-size: 1.2rem;
}

.table-left,
.table-right {
    width: 35%;
}

.table-left__item::before,
.table-right__item::before {
    content: '✓';
    padding-right: .5rem;
}

.table-left__item,
.table-right__item {
    max-width: fit-content;
}

.footer {
    margin-top: 5rem;
    margin-bottom: 7rem;
    text-align: center;
}

.footer-body, .table-header {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.footer>a {
    text-decoration: none;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-tagline {
    width: max-content;
    margin: auto;
    max-width: 80%;
}

.footer-tagline:hover {
    border-bottom: 2px solid red;
}